.position-relative {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
  }
  
  .form {
    width: 450px;
  }

  .button{
    align-items: flex-start;
    padding: 10px;
  }